[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "bash -c \"export FLASK_ENV=development && waitress-serve --listen=*:5000 wsgi:app\""
start = "waitress-serve --listen=*:5000 wsgi:app"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flask-cors = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.10"
