<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The Awesome URL shortener</h1>
    <form id='shortener' action='/' method='POST'>
        <input id='url' name='url' type='text' placeholder='type ur url here'>
        <input type='submit' value='Submit'>
    </form>
    {% if url_short %}
        <h1>Your shortened url is: <a href="http://{{url_short}}" target="_blank">{{url_short}}</a></h1>
    {% endif %}

</body>
</html>